<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>UNLa IoT - Iniciar sesión</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="bg-dark">
	<div id="layoutAuthentication">
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-5">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<!-- Seccion Titulo -->
								<div class="card-header">
									<h1 class="text-center font-weight-light my-4">UNLa IoT</h1>
									<hr class="my-4">
								<!-- Seccion Login -->
								<div class="card-body">
									<!-- Formulario Login -->
									<form th:action="@{/loginprocess}" method="post">

										<div class="form-floating mb-3">
											<input class="form-control" id="username" name="username" type="text"
												placeholder="Username" />
											<label for="username">Nombre de usuario</label>
										</div>
										<div class="form-floating mb-3">
											<input class="form-control" id="password" name="password" type="password"
												placeholder="Password" />
											<label for="inputPassword">Contraseña</label>
										</div>
										
										<!-- Boton Login -->
										<div class="form-floating mb-3 d-grid">
											<input class="btn btn-primary" id="submit" type="submit"
												value="Iniciar sesión" />
										</div>

									</form>
									<!-- Error de Credenciales -->
									<div class="form-floating mb-3">
										<div th:if="${error != null}" class="alert alert-danger">
											Username o Contraseña incorrectos.
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</main>
		</div>

		<div id="layoutAuthentication_footer">
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; UNLa 2023</div>
						<div>
							<a href="#">Privacy Policy</a>
							&middot;
							<a href="#">Terms &amp; Conditions</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="/js/scripts.js"></script>
</body>

</html>
