<form action="#" th:action="@{/ubicacion/update}" th:object="${ubicacion}"
	method="post">
	<input type="hidden" th:field="*{idUbicacion}" />
	</p>
	<p>
		Nombre: <input type="text" th:field="*{nombre}" />
	</p>
	<p>
		Descripcion: <input type="text" th:field="*{descripcion}" />
	</p>
	<input type="submit" value="Edit" />
</form>
<form action="#" th:action="@{/ubicacion/delete/{idUbicacion}(idUbicacion=${ubicacion.idUbicacion})}"
	 onsubmit="return confirm('¿Estás seguro de que quieres eliminar este registro?');" method="post" >
	<input type="submit" value="delete" />
</form>